[submodule "workspaces/goldstack-apps"]
	path = workspaces/goldstack-apps
	url = git@github.com:goldstack/goldstack-apps.git
[submodule "workspaces/templates"]
	path = workspaces/templates
	url = git@github.com:goldstack/goldstack-templates-priv.git
