/*------------------------------------
  Slick Gutters
------------------------------------*/

/* Gutters X */
.slick-gutters-1 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;

  .slick-slide {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

.slick-gutters-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  .slick-slide {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.slick-gutters-3 {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;

  .slick-slide {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
