// user-variables.scss
// Use this to overwrite Bootstrap and Front variables
//

// Example of a variable override to change Front's primary color and font size
// Remove the "//" to comment it in and see it in action!
// $primary: $red;
// $font-size-base: .875rem;

// The color of the SVG loader should be modified manually.
// See assets/svg/components/circle-preloader.svg
