/*------------------------------------
  Background Soft Colors
------------------------------------*/

@each $color, $value in $theme-colors {
  .bg-soft-#{$color} {
    background-color: rgba($value, 0.1);
  }
}
