name: Agent Issue Handler

on:
  issues:
    types: [opened, reopened]

jobs:
  run-agent:
    if: startsWith(github.event.issue.title, 'Agent:') && (github.event.issue.user.login == 'mxro' || github.event.issue.user.login == 'goldstack')
    name: Run Agent for Issue by authorized user
    runs-on: ubuntu-latest
    timeout-minutes: 45


    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 1

      - uses: ./.github/actions/ai-agent
        with:
          issue_number: ${{ github.event.issue.number }}
          token: ${{ secrets.PAT_TOKEN }}
          openrouter_api_key: ${{ secrets.OPENROUTER_API_KEY }}
