name: Branch & PR build

on: [push, pull_request]

jobs:
  build:
    name: 'Build'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - name: Build
        run: |
          yarn build

  lint:
    name: 'Lint'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - name: Linting and formatting
        run: |
          yarn format
          yarn format-check
          yarn lint

  audit:
    name: 'NPM Audit'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - name: NPM Audit
        run: |
          yarn npm audit --all --recursive --severity critical

  syncpack:
    name: 'Checking for Package Mismatches'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - name: Run Syncpack for all workspaces
        run: |
          yarn ensure-no-package-mismatches

  compile:
    name: 'Compile and Type Check'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - name: Compile all
        run: |
          yarn compile

  test-utilities:
    name: 'Utilities Test'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Test utilities
        run: |
          cd workspaces/utils
          yarn test
          cd ../..
        env:
          GITHUB_TOKEN: ${{secrets.PAT_TOKEN}}
          KILOCODE_API_KEY: ${{secrets.KILO_API_KEY}}

  test-libraries:
    name: 'Libraries Test'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup

      - name: Test libraries
        run: |
          cd workspaces/templates-lib
          GOLDSTACK_DEBUG=true yarn test
          cd ../..

  test-template-management:
    name: 'Templates Management Test'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup

      - name: Test template management
        run: |
          cd workspaces/templates-management
          yarn test
          cd ../..

  test-apps:
    name: 'Apps Test'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup

      - name: Run tests
        run: |
          cd workspaces/apps
          yarn workspace @goldstack/goldstack-api seed-templates
          yarn test
          cd ../..

  test-docs:
    name: 'Docs Test'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup

      - name: Run tests
        run: |
          cd workspaces/docs
          yarn test
          cd ../..

  test-templates:
    name: 'Templates Test'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      # Required for testing SSR template
      # Since Jest CSS transformer needs to be loaded from compiled JS
      - name: Compile all
        run: |
          yarn compile

      - name: Run tests
        run: |
          cd workspaces/templates
          yarn test
          cd ../..

  schema:
    name: 'Generate Schemas'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup

      - name: Generate schemas
        run: |
          yarn generate-schema

  docs:
    name: 'Generate Docs'
    if: ${{ ! contains(github.event.head_commit.message, 'ci_skip') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/goldstack-setup
      - name: Generate docs
        run: |
          yarn generate-docs
