# Triggers when running a release in Github
# https://github.com/goldstack/goldstack-mega/releases/new
name: Production Release

on: [push]
# on:
#   release:
#     types: [published]

jobs:
  release:
    name: 'Release'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 20
          # Checking out the released tag
          ref: ${{ github.event.inputs.github-ref }}
          token: ${{secrets.BUILD_TOKEN}}
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: https://registry.npmjs.org

      - name: Prepare yarn
        run: |
          npm install -g yarn@1.22.11
      - run: 'yarn config set --json npmRegistries ''{ "//registry.npmjs.org": { "npmAuthToken": "''"${{secrets.NPM_TOKEN}}"''" } }'''
      - name: Install and build
        run: |
          yarn install
          yarn build

      - name: Deploy docs
        run: |
          yarn workspace @goldstack/docs-main deploy-ts prod
        env:
          AWS_USER_NAME: goldstack-prod
          AWS_ACCESS_KEY_ID: ${{secrets.PROD_AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.PROD_AWS_SECRET_ACCESS_KEY}}
          AWS_DEFAULT_REGION: us-west-2

      - name: Deploy API
        run: |
          yarn workspace @goldstack/goldstack-api deploy-ts prod
        env:
          AWS_USER_NAME: goldstack-prod
          AWS_ACCESS_KEY_ID: ${{secrets.PROD_AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.PROD_AWS_SECRET_ACCESS_KEY}}
          AWS_DEFAULT_REGION: us-west-2
          # Not actually used, only when infra gets into CI/CD
          STRIPE_API_KEY: ${{secrets.PROD_STRIPE_PRIVATE_KEY}}

      - name: Deploy UI
        run: |
          yarn workspace @goldstack/goldstack-home deploy-ts prod
        env:
          AWS_USER_NAME: goldstack-prod
          AWS_ACCESS_KEY_ID: ${{secrets.PROD_AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.PROD_AWS_SECRET_ACCESS_KEY}}
          AWS_DEFAULT_REGION: us-west-2

      - name: Write build date
        run: echo "$(date +'%Y-%m-%dT%H:%M:%S')" >> build_prod_timestamp

      - name: Remove yarn secret
        run: 'yarn config set --json npmRegistries ''{ "//registry.npmjs.org": { "npmAuthToken": "''""''" } }'''

      - name: Configure git
        run: |
          git config --global user.email "public@pureleap.com"
          git config --global user.name "GitHub Actions Build"
          git config --global pull.rebase false

      - name: Commit build date change
        run: |
          git add .
          git diff-index --quiet HEAD || git commit -m "GitHub actions build (ci_skip) (trigger_template_deploy_prod)"
          git status

      - name: Push changes
        uses: ad-m/github-push-action@65392840bda2e774394d5cd38ca33e5918aec2d3
        with:
          github_token: ${{secrets.BUILD_TOKEN}}
