
name: Template Deployment for DEV 

on: [push]

jobs:
  build:
    name: 'Deploy build set'
    strategy:
      matrix:
        deploy-set: ["backend-go-gin", "backend-lambda-api", "backend-nodejs-express", "no-infra", "static-website"]
    # if: "contains(github.event.head_commit.message, 'trigger_template_deploy_dev') && github.ref == 'refs/heads/master'"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Goldstack repo
        uses: actions/checkout@25a956c84d5dd820d28caab9f86b8d183aeeff3d
        with:
          fetch-depth: 20
          token: ${{secrets.BUILD_TOKEN}}
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: https://registry.npmjs.org
      - name: Install Yarn
        run: npm install -g yarn@1.22.11
      - name: Install project dependencies
        run: |
          yarn install
      - name: Run build set 
        run: |
          cd workspaces/apps/packages/template-management-cli
          yarn cli deploy-set \
            --set ${{ matrix.deploy-set }} \
            --deployment dev \
            --repo goldstack-dev \
            --workDir ./tmp/set/ \
            --emailResultsTo maxrohde.public@gmail.com   
        env:
          AWS_USER_NAME: goldstack-dev
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          AWS_DEFAULT_REGION: us-west-2